.layout-enter-active,
.layout-leave-active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.layout-enter,
.layout-leave-to {
    opacity: 0;
}

// fade in & out

.fade-enter-active,
.fade-leave-active {
    transition: opacity 300ms;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

// slide in from left to right

.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 300ms ease;
}

.slide-right-enter,
.slide-right-leave-to {
    transform: translateX(-100%);
    transition: all 300ms ease-in 0s;
}

// slide in from right to left

.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 300ms ease-out;
}

.slide-left-enter,
.slide-left-leave-to {
    transform: translateX(100%);
    transition: all 300ms ease-in 0s;
}

// slide in from right to left

.slide-down-enter-active,
.slide-down-leave-active {
    transition: all 300ms ease-out;
}

.slide-down-enter,
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(100%);
    transition: all 300ms ease-in 0s;
}
